.main-window {
    position: absolute;
    background-image: url('project://database/Assets/UI/Textures/UI_atlas.psd?fileID=-4040379037015584800&guid=68de98d899585b7469e0fb40a0fcbc56&type=3#Window_bg_02');
    width: 69%;
    height: 80%;
    align-items: center;
    justify-content: center;
    left: 19%;
    top: 14%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.body {
    flex-basis: 56%;
    width: 100%;
    background-color: rgba(0, 32, 255, 0);
    flex-direction: row;
    margin-top: 11%;
    margin-bottom: 0;
    display: flex;
    top: 0;
}

.signup__container {
    flex-basis: 53%;
    align-items: center;
    display: flex;
    margin-left: 2%;
    top: 9%;
    margin-right: 2%;
    height: 69%;
}

.signup__button {
    position: relative;
    height: 37%;
    width: 90%;
    margin-top: 25%;
    flex-basis: 28%;
    -unity-text-align: upper-center;
    max-height: 140px;
}

.banner {
    background-image: url('project://database/Assets/UI/Textures/UI_atlas.psd?fileID=-1212020080745325459&guid=68de98d899585b7469e0fb40a0fcbc56&type=3#Header_bg_01');
    width: 50%;
    height: 15%;
    position: absolute;
    top: -2%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.content__container {
    width: 85%;
    flex-basis: 23%;
    background-color: rgba(0, 255, 12, 0);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    display: flex;
    margin-bottom: 5%;
    padding-bottom: 5%;
    height: auto;
    top: 6%;
}

.content-button {
    position: relative;
    flex-basis: 27%;
    margin-top: 2%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    height: 90%;
}

.separator {
    position: relative;
    width: 100%;
    height: 99%;
    background-image: none;
    -unity-background-scale-mode: stretch-to-fill;
    top: 6%;
    align-items: center;
    left: 0;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 0, 0, 0);
    justify-content: center;
    flex-basis: 10%;
}

.separator__label {
    -unity-font-definition: url('project://database/Assets/UI/Fonts/ChelaOne-Regular%20SDF%201.asset?fileID=11400000&guid=4e008579d9e985040974fa631b2f2b80&type=2#ChelaOne-Regular SDF 1');
    color: rgb(142, 91, 38);
    font-size: 42px;
    position: absolute;
    left: 27.5%;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    width: 45%;
    background-color: rgb(233, 224, 200);
    height: 100%;
}

.graphic {
    flex-basis: 49%;
    height: 100%;
    margin-right: 2%;
    margin-left: 3%;
    background-color: rgba(255, 223, 0, 0);
    display: flex;
    opacity: 1;
    width: 64%;
    background-image: url('project://database/Assets/UI/Textures/Misc/EBookGraphicTemp.jpg?fileID=21300000&guid=dcf263f2fbf20894d996b29638708b21&type=3#EBookGraphicTemp');
    -unity-background-scale-mode: scale-to-fit;
}

.graphic__image {
    left: 0;
    -unity-background-scale-mode: scale-to-fit;
}
