.main-window {
    position: absolute;
    background-image: url('project://database/Assets/UI/Textures/UI_atlas.psd?fileID=-4040379037015584800&guid=68de98d899585b7469e0fb40a0fcbc56&type=3#Window_bg_02');
    width: 90%;
    height: 53%;
    align-items: center;
    justify-content: center;
    left: 5%;
    top: 20%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.body {
    width: 100%;
    background-color: rgba(0, 32, 255, 0);
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    top: 0;
    height: 130%;
    margin-right: 0;
    margin-left: 0;
    flex-basis: 58%;
}

.graphic {
    background-image: url('project://database/Assets/UI/Textures/Misc/EBookGraphicTemp.jpg?fileID=21300000&guid=dcf263f2fbf20894d996b29638708b21&type=3#EBookGraphicTemp');
    left: 0;
    -unity-background-scale-mode: scale-to-fit;
    scale: 1.5 1.5;
    top: 5%;
    flex-basis: 47%;
    width: 53%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.graphic__image {
    width: 100%;
    left: 0;
    -unity-background-scale-mode: scale-to-fit;
}

.signup__container {
    align-items: center;
    display: flex;
    height: 107%;
    width: 88%;
    top: 1%;
    flex-basis: 20%;
    margin-top: 12%;
    margin-bottom: 3%;
}

.banner {
    background-image: url('project://database/Assets/UI/Textures/UI_atlas.psd?fileID=-1212020080745325459&guid=68de98d899585b7469e0fb40a0fcbc56&type=3#Header_bg_01');
    width: 60%;
    height: 10%;
    position: absolute;
    top: -3%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.content__container {
    width: 100%;
    background-color: rgba(0, 255, 12, 0);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
    padding-bottom: 0;
    height: 19%;
    scale: 0.9 0.9;
    flex-basis: 11%;
    padding-right: 4%;
    padding-left: 4%;
    margin-top: 2%;
}

.content-button {
    position: relative;
    height: 100%;
    flex-basis: 27%;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    max-height: 100px;
    -unity-text-align: middle-center;
}

.separator {
    position: relative;
    width: 96%;
    height: 28%;
    background-image: none;
    -unity-background-scale-mode: stretch-to-fill;
    top: 3px;
    align-items: center;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 0, 0, 0);
    justify-content: center;
    -unity-text-align: upper-center;
    margin-top: 8%;
    flex-basis: 4%;
}

.separator__label {
    -unity-font-definition: url('project://database/Assets/UI/Fonts/ChelaOne-Regular%20SDF%201.asset?fileID=11400000&guid=4e008579d9e985040974fa631b2f2b80&type=2#ChelaOne-Regular SDF 1');
    color: rgb(142, 91, 38);
    font-size: 42px;
    position: absolute;
    left: 25%;
    margin-top: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    width: 51%;
    background-color: rgb(233, 224, 200);
    height: 100%;
}

.signup__button {
    position: relative;
    height: auto;
    width: 75%;
    margin-top: 10%;
    flex-basis: 23%;
    -unity-text-align: middle-center;
    max-height: 180px;
}
