:root {
    -unity-font-definition: url('project://database/Assets/UI/Fonts/ChelaOne-Regular%20SDF%201.asset?fileID=11400000&guid=4e008579d9e985040974fa631b2f2b80&type=2#ChelaOne-Regular SDF 1');
    cursor: url('project://database/Assets/UI/Textures/Cursors/Cursor_A.png?fileID=2800000&guid=0fc53ad8e877049c3aef54a3f8a1e01a&type=3#Cursor_A') 24 17;
}

.border__width--0 {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.border__radius--10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border__radius--25 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.alignment--center {
    align-items: center;
}

.justify--center {
    justify-content: center;
}

.screen__anchor--top-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.screen__anchor--top-right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.screen__anchor--bottom-left {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.screen__anchor--bottom-right {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.screen__anchor--center {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.tileable--128px {
    background-image: url('project://database/Assets/UI/Textures/Misc/SafeAreaPatternTile.png?fileID=21300000&guid=5880325d0951942fb84558f5e1549528&type=3#SafeAreaPatternTile');
    background-size: 128px 128px;
    background-repeat: repeat;
}

.tileable--250px {
    background-image: url('project://database/Assets/UI/Textures/Misc/SafeAreaPatternTile.png?fileID=21300000&guid=5880325d0951942fb84558f5e1549528&type=3#SafeAreaPatternTile');
    background-size: 250px 250px;
    background-repeat: repeat;
}

.tileable--256px {
    background-image: url('project://database/Assets/UI/Textures/Misc/SafeAreaPatternTile.png?fileID=21300000&guid=5880325d0951942fb84558f5e1549528&type=3#SafeAreaPatternTile');
    background-size: 256px 256px;
    background-repeat: repeat;
}

.fps-counter {
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    -unity-text-align: upper-right;
    width: 8%;
    height: 4%;
}

.background-graphic {
}

.title__container {
    max-width: 65%;
    min-width: 20%;
    max-height: 20%;
    min-height: 350px;
    justify-content: flex-end;
    align-items: center;
}

.theme__decoration--default {
}
